.nev-bar{
    gap: 30px;
    display: flex;
}
.btn{
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
    color: white;
}
.container{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: right;
}
.humburg{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.humburg div{
    width: 25px;
    height: 3px;
    background-color: #000;
}
@media (max-width: 768px){
    .nev-bar,
    .btn{
        display: none;
    }
    .humburg{
        display: flex;
    }
}
.cbr-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cbr-text{
    color: white;
    font-size: 25px;
    text-align: justify;
}
.btn-purchase{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.honda-cbr{
    height: 500px;
}
.first-hero{
    background-color: #06493c;
    padding: 50px;
}
@media(max-width:768px){
    .cbr-section{
        display: contents;
    }
    .honda-cbr{
        height: 400px;
    }
}
.text-div-1{
    text-align: center;
}
.heading-text-1{
    font-size: 50px;
}
.text-1{
    color: red;
}
.honda-1{
height: 300px;
}
.honda-2{
    height: 300px;
    }
    .honda-3{
    height: 300px;
    }

.card{
    display: flex;
    gap: 70px;
    margin-top: 70px;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}
@media(max-width:768px){
    .card{
        display: inline-block;
    }
}